{{#partial "page"}}

{{#skip}}
<main class="page">
    <section class="page-content page-content--centered">
        <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
        <p class="u-textAlignCenter">
            {{lang 'page_not_found.message'}}
        </p>

        {{> components/common/search-box}}
    </section>
</main>
{{/skip}}
<section class=""></section>
        <section class="section-404">
            <div class="vector-effects">
                <svg class="icon"> <use xlink:href="#effect-vector-1"></use> </svg>
                <svg class="icon"> <use xlink:href="#effect-vector-2"></use> </svg>
                <svg class="icon"> <use xlink:href="#effect-vector-2"></use> </svg>
                <svg class="icon"> <use xlink:href="#effect-vector-2"></use> </svg>
            </div>
            <div class="container">
                <div class="row">
                    <div class="section-404__icon">
                        <svg width="252" height="235" viewBox="0 0 252 235" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.0768 67.0511C31.9114 66.3142 35.4438 64.4634 38.228 61.7325C41.0121 59.0016 42.923 55.513 43.7193 51.7076C44.5156 47.9021 44.1614 43.9506 42.7018 40.3518C41.2422 36.7531 38.7427 33.6688 35.5186 31.4884C32.2945 29.3081 28.4904 28.1296 24.5874 28.1018C20.6843 28.074 16.8573 29.1981 13.5894 31.3322C10.3216 33.4663 7.75978 36.5146 6.22743 40.092C4.69508 43.6694 4.26081 47.6156 4.97989 51.4318C5.45179 53.9747 6.42527 56.3979 7.8439 58.5617C9.26252 60.7256 11.0983 62.5871 13.2455 64.0391C15.3927 65.4912 17.8085 66.5048 20.3541 67.0218C22.8996 67.5387 25.5244 67.5487 28.0768 67.0511" fill="currentColor"/>
                            <path d="M181.506 10.0672L185.629 25.5425L223.389 15.4753L219.267 7.61446e-05L181.506 10.0672Z" fill="currentColor"/>
                            <path d="M225.063 234.76C225.277 233.823 225.48 232.939 226.061 232.086C233.615 204.955 230.326 175.944 216.883 151.119C203.441 126.294 180.885 107.58 153.933 98.889C126.981 90.1982 97.7215 92.2044 72.2732 104.488C46.825 116.772 27.1592 138.382 17.3893 164.798C17.1748 165.735 16.9722 166.62 16.7577 167.556L55.6866 180.086C57.8981 170.952 61.9822 162.374 67.6834 154.891C73.3845 147.408 80.5797 141.18 88.8187 136.598C97.0576 132.016 106.163 129.178 115.564 128.261C124.965 127.345 134.46 128.371 143.454 131.274C152.447 134.176 160.746 138.894 167.831 145.131C174.916 151.368 180.634 158.99 184.627 167.52C188.62 176.05 190.802 185.304 191.036 194.703C191.271 204.102 189.552 213.443 185.989 222.142L225.063 234.76Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div class="section-404__txt">
                        <h5>Error 404</h5>
                        <h2>Oh no! We couldn’t <br>
                            find this page</h2>
                        <a href="/" class="btn btn--primary" tabindex="-1">Go back to home <svg class="icon"> <use xlink:href="#arrow-topright"></use> </svg> </a>
                    </div>
                </div>
            </div>
        </section>
        {{#skip}}
        <section class="section-page-links">
            <div class="container">
                <h3>Page links / site map</h3>
                <ul class="page-links">
                    <li><a href="#">Munchee</a></li>
                    <li><a href="/for-practitioners">For Practitioners</a></li>
                    <li><a href="#">Shop - Myo Munchee (Operations) Pty Ltd</a></li>
                    <li><a href="#">Create Practitioner Account</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                    <li><a href="/munchee-story">Munchee Story</a></li>
                    <li><a href="#">For Parents</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="#">Create Parent Account</a></li>
                    <li><a href="#">Myo Munchee Tween</a></li>
                    <li><a href="#">Myo Munchee Adult</a></li>
                    <li><a href="#">Get Help</a></li>
                    <li><a href="#">Myo Munchee Mini</a></li>
                    <li><a href="#">Pad: Chew Reward Chart</a></li>
                    <li><a href="#">Munchee Moves Flipbook (Digital product)</a></li>
                    <li><a href="#">Find Practitioners</a></li>
                    <li><a href="#">Discovery Pack Signup</a></li>
                    <li><a href="#">Myo Munchee Junior (Small + Handle)</a></li>
                    <li><a href="#">Myo Munchee Tween</a></li>
                    <li><a href="#">Practitioner Resources - Reward Chart -</a></li>
                    <li><a href="#">Myo Munchee Parent Resources</a></li>
                    <li><a href="#">Myo Munchee Adult</a></li>
                    <li><a href="#">Mini Munchee</a></li>
                </ul>
            </div>
        </section>
        {{/skip}}
{{/partial}}
{{> layout/base}}
