{{# if template '==' 'pages/blog-post' }}
 <section class="section-post">
            <div class="container">
                <div class="section-post__head">
                    <div class="row">
                       
                            <h5>News & Updates</h5>
                            <h1>{{post.title}}</h1>
                            <p class="post-meta">
                              
                                <span>{{#if post.author}} By {{/if}} {{post.author}}</span>
                            </p>
                      
                                 {{>components/common/share}}
                      
                    </div>
                </div>
                <div class="section-post__body">
                    <div class="row">
                        <!--<div class="section-post__sidebar">
                            <div class="widget">
                                <h5>Like this?</h5>
                                <p>Save the article for later to access it via your account.</p>
                                <a class="btn btn--primary" href="#">Save for later</a>
                            </div>
                        </div>-->
                        <div class="section-post__content">
                            <div class="internal-block">
                                {{#skip}}
                                 {{#if post.thumbnail}}
          
              
                                        {{> components/common/responsive-img
                                            image=post.thumbnail
                                            fallback_size=theme_settings.blog_size
                                            lazyload=theme_settings.lazyload_mode
                                        }}
                                 
                                
                            {{/if}}
                            {{/skip}}
                          
                                {{region name="blog_content"}}
                                {{region name="blog_content_2"}}
                                
                            </div>
                        </div>
                    </div>
                </div>
     </div>
    </section>
{{else}}

    <article class="card card--post">
  <div class="card__media">
        {{#if post.thumbnail}}
          
              
                    {{> components/common/responsive-img
                        image=post.thumbnail
                        fallback_size=theme_settings.blog_size
                        lazyload=theme_settings.lazyload_mode
                    }}
             
            
        {{/if}}
    </div>

   <div class="card__body">
       
            <h4><a href="{{post.url}}">{{post.title}}</a> </h4>
            <p class="date">
                <span>{{post.date_published}}</span>
                <span>{{#if post.author}} by {{post.author}}{{/if}}</span>
            </p>
           <a href="{{url}}" class="btn btn--secondary strached-link">Read more <svg class="icon"> <use xlink:href="#arrow-topright"></use> </svg></a>
           


       
    </div>
</article>

{{/if}}


