<section class="section section-easyfun cs-section-easyfun">

    <div class="container">
        
    {{{region name="easyfun-head"}}}
    {{#skip}}
    <!-- <h1 class="head-primary text-center"></h1> -->
    {{/skip}}      
    
        <div class="row">
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="https://myomunchee.com/find-practitioners-nearby/" target="_blank">
                    <div class="card-header card-header--green">
                        {{{region name="easyfun-head2"}}}
                        {{#skip}}
                         <!--
                        <h3>Find a Practitioner</h3>
                        -->
                        {{/skip}}
                         
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="easyfun-text2"}}}
                        {{#skip}}
                        <!--
                        <p>Complex needs can require help from a range of practitioners. Find someone near you who uses Munchee</p>
                        -->
                        {{/skip}}
                        
                    </div>
                </div>
                
                
            </div>
            
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="easyfun-img4"}}}
                    <a href="/contact-us/">
                    <div class="card-header card-header--gray">
                        
                        {{{region name="easyfun-head4"}}}
                       {{#skip}}
                       <!--
                        <h3>Submit a help ticket</h3>
                        -->
                        {{/skip}}                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="easyfun-text4"}}}
                        {{#skip}}
                         <!-- 
                        <p> Not finding what you need? Submit a help ticket and we’ll get onto your case!</p>
                        -->
                        {{/skip}}
                        
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>
