<section class="section section-intro">
    <div class="section-header">
       
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-1-of-1 column-1">
                {{{region name="intro-1"}}}
                <h3 class="head-primary">How can Munchee Help?</h3>
                <p>
                    At Munchee many parents contact us with a range of needs, from the simple to the complex.
                </p>
                <p>
                    Fundamentally the Munchee is a simple concept. This simplicity is the reason it’s popular with many types of practitioners. The flip side is that many practitioners who use Munchee incorporate it into highly considered, multi-factorial treatment plans.
                </p>
                <p>
                    Munchee staff walk the path of both parents and practitioners. In this context, we understand the search for answers and the nuanced use of Munchee. We want you to get the most out of your investment in Munchee so we’ve compiled these resources to help.

                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-1-of-2">
                {{{region name="intro-2"}}}
                
                
                <figure class="section-intro__img">
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/common-symptom.png">
                </figure>
            </div>
            <div class="col-1-of-2 symptoms">
                {{{region name="intro-1"}}}
                    <h3 class="head-primary">Common Symptoms</h3>
                    <p>
                        Weakness of the lips face and tongue can impact so many important functions of the body and problems can be difficult to spot and to link.
                    </p>
                    <p>
                        This graphic illustrates some of the common ways these kind of problems present. You may be familiar with one or many, each individual is different and this list is not exhaustive.
                    </p>
            </div>
            
        </div>    
    </div>
</section>
