 <div class="section-seo__accordion row">
                        <div class="col col--half">
                            <ul class="accordion">
                           <li class="accordion__item">
                                    <h4 class="accordion__title">{{region name="acc_title_1"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_1"}}
                                    </div>
                                </li>
                                <li class="accordion__item">
                                    <h4 class="accordion__title">{{region name="acc_title_2"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_2"}}
                                    </div>
                                </li>
                                <li class="accordion__item">
                                    <h4 class="accordion__title">{{region name="acc_title_3"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_3"}}
                                    </div>
                                </li>
                                <li class="accordion__item">
                                   <h4 class="accordion__title">{{region name="acc_title_4"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_4"}}
                                    </div>
                                </li>
                           </ul>
                        </div>
                        <div class="col col--half">
                            <ul class="accordion">
                               <li class="accordion__item">
                                    <h4 class="accordion__title">{{region name="acc_title_5"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_5"}}
                                    </div>
                                </li>
                                <li class="accordion__item">
                                   <h4 class="accordion__title">{{region name="acc_title_6"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_6"}}
                                    </div>
                                </li>
                                <li class="accordion__item">
                                    <h4 class="accordion__title">{{region name="acc_title_7"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_7"}}
                                    </div>
                                </li>
                                <li class="accordion__item">
                                    <h4 class="accordion__title">{{region name="acc_title_8"}} <svg class="icon">
                                            <use xlink:href="#arrow-topright"></use>
                                        </svg></h4>
                                    <div class="accordion__content">
                                       {{region name="acc_content_8"}}
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>

{{#skip}}
<div class="container">
    <div class="row">
        <div class="faq">
                <h3 class="head-primary text-center">Munchee FAQs</h3>
               <!-- help accordion-->
               {{{region name="faq-accordion"}}}
               {{#skip}}
               <!--
                <p>
                    <div class="acc-container">          
                        <div class="acc-wrap">
                          <input type="radio" name="acc" id="acc1" checked>
                          <label for="acc1"><i class="fa fa-map-marker"></i>What size Munchee should I get?</label>
                          <div class="acc-body" id="acc-1">
                            Munchee sizing is easy...<span>Download this chart to size yours.</span>
                          </div>
                         </div>
                        <div class="acc-wrap">
                           <input type="radio" name="acc" id="acc2">
                           <label for="acc2"><i class="fa fa-heart"></i> What other factors can influence which size is right for you?</label>
                           <div class="acc-body">
                            The great thing about Munchees is that they are made of flexible silicone and can be trimmed if necessary, to get sizing more comfortable. With children it is good to start with a smaller appliance and then move up to a larger appliance once able to easily manage the smaller one.
                           </div>
                         </div>
                        <div class="acc-wrap">
                           <input type="radio" name="acc" id="acc3">
                           <label for="acc3"><i class="fa fa-music"></i> How do I use a Munchee?</label>
                           <div class="acc-body">
                            If the Munchee is for a young child create a sense of excitement around the appliance coming, especially if you're using it as a replacement for dummy/pacifier. <br><br>
                            Always rinse the Munchee before use.  The Munchee can be submerged in freshly boiled water for 60 seconds to sterilise. <br><br>
                            Ensure the Munchee is placed in the mouth with the "lips" indent at the top.
                            Always keep the lips closed around the Munchee while chewing, this not only strengthens the muscles, it prevents excessive wear on the appliance. <br><br>
                            Keep your chewing even and on both sides, chewing excessively or exclusively on one side will weaken the Munchee.<br><br>
                            Rinse after use in cold running water and dry thoroughly.
                            Aim for 5mins of active chewing, twice a day as an ideal protocol

                          </div>
                        </div>
                        <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc4">
                            <label for="acc4"><i class="fa fa-music"></i> How often do I need to use a Munchee?</label>
                            <div class="acc-body">
                              At minimum, for general oral health and keeping muscles strong the Munchee works if you or your child can chew for 5 mins twice a day. For 18 months to 5-years change should be evident in about 4 weeks and chewing should continue for life.
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc5">
                            <label for="acc5"><i class="fa fa-music"></i>How long will it last? </label>
                            <div class="acc-body">
                              This depends on a few factors, but as a general rule a Munchee should last between 6-18 months with regular use. Those who are heavy chewers, teeth grinders or wear the Munchee more frequently than recommended may experience a shorter lifespan. Good care of the appliance is very important and it should be rinsed and dried after every use.
                              If with regular use, your Munchee breaks in the first three months we will replace the device free of charge. 
                              <br><br>
                              At minimum, for general oral health and keeping muscles strong the Munchee works if you or your child can chew for 5 mins twice a day. For 18 months to 5-year old change should be evident in about 4 weeks and chewing should continue for 6-12 months minimum. 
                              
                              
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc6">
                            <label for="acc6"><i class="fa fa-music"></i>I am an adult, will the Munchee expand my palate? </label>
                            <div class="acc-body">
                              As an adult looking to expand the palate you are likely to need to work with a practitioner such as a functional dentist/orthodontist. The Munchee can be a great tool to use in conjunction with other care as it exercises the facial muscles and tongue.
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc7">
                            <label for="acc7"><i class="fa fa-music"></i>My therapist recommended the Munchee Bebe. Is it available for sale? </label>
                            <div class="acc-body">
                              Unfortunately, the Bebe is a practitioner only product. Please get in touch with your therapist should they believe it is suitable for your child. 
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc8">
                            <label for="acc8"><i class="fa fa-music"></i> A dentist has suggested myofunctional mouth guards for my children but they cost thousands of dollars each. Would yours do the same work? </label>
                            <div class="acc-body">
                              We can all certainly benefit from munching on a Munchee but it’s not a replacement for professional assessment, advice and treatment planning. 
                              <br><br>
                              As for bigger change in teeth alignment, it is useful to work with a functional dentist who is looking at the whole picture for your child. The Munchee can be a useful adjunct to supervised oral care.
                              <br><br>
                              You may wish to do some Googling for practitioners in your area. Some terms you may wish to search: Myofunctional dentist/therapist, Orofacial Myologist, Myobrace, Orofacial Myofunctional Therapy.

                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc9">
                            <label for="acc9"><i class="fa fa-music"></i> Is it safe for children to wear overnight?</label>
                            <div class="acc-body">
                              While the Munchee is safe for nocturnal use we do not recommend this unless you are under the guidance of a practitioner.
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc10">
                            <label for="acc10"><i class="fa fa-music"></i> Since completing orthodontic work, I have had a bonded retainer fixed to the inside of my upper and lower teeth and wonder if the Munchee would still be as effective with the teeth bonded together?</label>
                            <div class="acc-body">
                              The Munchee can help you to tone the muscles of the face lips and tongue, exercise your jaw, promote nasal breathing and correct swallow pattern. These benefits are not impacted by a bonded retainer being present.
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc11">
                            <label for="acc11"><i class="fa fa-music"></i> Is the Munchee helpful for sleep apnoea?</label>
                            <div class="acc-body">
                              The Munchee can assist with sleep apnoea by toning the muscles of the face, lips and tongue; promoting nasal breathing and holding the jaw in the correct oral rest position. For optimum results we recommend working with an Orofacial Myofunctional Therapist in conjunction with your other treating professionals.
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc12">
                            <label for="acc12"><i class="fa fa-music"></i>Can you please advise if a Munchee is helpful in correcting an underbite.  My child’s bottom jaw extends further than the top.  </label>
                            <div class="acc-body">
                              In cases where you are exploring options to correct a malocclusion, we suggest that you seek professional orthodontic advice. The Munchee is a tool to assist with myofunctional needs, it is not designed as a stand-alone treatment but part of an arsenal that can assist you with correct oral rest posture, swallow pattern, tongue positioning and nasal breathing.
                              <br><br>
                              Tongue-tie, pacifier use and mouth breathing are 3 of the most common causes of this type of mal-occlusion. Be aware that this type of malocclusion is one that can cause damage to a Munchee due to the imbalance of forces through the jaw. 
                              It is essential for any child over the age of six years to work with a dental practitioner to achieve optimum outcomes. Begin with using the Munchee passively ensuring that lips are together at all times and build up to chewing very, very gently
                              
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc13">
                            <label for="acc13"><i class="fa fa-music"></i>What is passive use of the Munchee?</label>
                            <div class="acc-body">
                              Passive use describes holding the Munchee in position in your mouth with lips sealed around the device. Breathing through the nose, ensure the tongue is positioned on the roof of the mouth. Allow the jaw to rest in this position, no chewing needs to occur with passive use.
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc14">
                            <label for="acc14"><i class="fa fa-music"></i>Can the Munchee be used after orthodontic work?</label>
                            <div class="acc-body">
                              The Munchee can be a very useful adjunct following orthodontic work. However, you need to check with your treating orthodontist or dentist if the Munchee is appropriate for you post treatment as there are many and varied approaches to orthodontic care. The Munchee acts on the facial muscles and helps them stay oxygenated and strong and helps keep teeth and gums clean.
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc15">
                            <label for="acc15"><i class="fa fa-music"></i> What is “ACTIVE USE” of the Munchee?</label>
                            <div class="acc-body">
                              Active use means “munching” with the Munchee in the mouth
                              The sequence is as follows:
                              <br>
                              <ul>
                                <li style="list-style-type: disc;">Insert the Munchee correctly with the “v” shaped notch at the front top.</li>
                                <li style="list-style-type: disc;">Move the jaws so that the top and bottom teeth sit comfortably in the Munchee.</li>
                                <li style="list-style-type: disc;">Bring the lips together - this is critical to success.</li>
                                <li style="list-style-type: disc;">Simply “munch” up and down gently on the Munchee.</li>
                                <li style="list-style-type: disc;">As your gums strengthen there may be some discomfort, but if your Munchee is too large, it's simple to trim to size.</li>
                              </ul>

                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc16">
                            <label for="acc16"><i class="fa fa-music"></i> Is there any research on the Munchee?</label>
                            <div class="acc-body">
                              Dr Kevin Bourke did a number of studies at Osaka University in Japan. With compliant use, the Munchee was shown to have some very positive effects on cases of plaque and open bite (teeth not fitting at the front). 
                              Myo Munchee Operations is actively seeking research partners and opportunities to further the work started by Kevin and his team. 
                              
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc17">
                            <label for="acc17"><i class="fa fa-music"></i> Can I use a Munchee instead of my dental appliance made for me by my dentist?</label>
                            <div class="acc-body">
                              This is something you will need to discuss solely with the treating dentist as various appliances are used for a variety of reasons. Rather than think of it as a "this or that" try to look at the benefits of the Munchee such as muscle tone, oxygenation and gum health to see if it is a good fit with your treatment. 
                           </div>
                         </div>
                         <div class="acc-wrap">
                            <input type="radio" name="acc" id="acc18">
                            <label for="acc18"><i class="fa fa-music"></i>Is the Munchee covered by a warranty?</label>
                            <div class="acc-body">
                              Yes! At Munchee we are our proud of our product. 
                              <br><br>
                              Each appliance is made using medical grade silicone, providing comfort and flexibility coupled with strength and durability. 
                              <br><br>
                              We cannot guarantee exactly how long the Munchee will last for each customer due to the fact that no two humans are exactly the same. Bites and occlusions vary greatly and there are certain bites that will be more likely to damage the appliance. 
                              <br><br>
                              In children’s cases we find that as the bite improves the appliance will last longer. 
                              <br><br>
                              We will happily replace any appliance that proves faulty within three months of purchase. We stand by our appliances and need to be aware if there is any issue with the quality of our products. If you have any problems with quality and wear, please lodge a support ticket and send us a photo of both your appliance and ideally of your bite (teeth closed and showing). 
                              <br><br>
                              <strong>PLEASE NOTE:</strong> this replacement policy cannot be used to replace an appliance a second time. Some bite structures and forces will always damage the appliance over time.
                                                            
                           </div>
                         </div>
                     </div>
               </p>
                -->
                {{/skip}}
        
    </div>    
</div>
{{/skip}}
