{{#partial "page"}}
<style>
    .row [class^=col-]:not(:last-child){
        margin-right:0;
    }
</style>
<section class="section-breadcrumb">
    <div class="container">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
</div>
  </section>
   <section class="section-internal">
            <div class="container">
                <div class="row">
                    <div class="col--half">
                        <div class="internal-block">
                            {{#unless theme_settings.hide_page_heading }}
                                <h1>{{ page.title }}</h1>
                            {{/unless}}
                            {{#if page.title '==' 'Resources'}}
                             <ul class="links-list" style="    padding-left: 20px;">
                         
                                <li><a href="/in-the-media/">In the media</a></li>
                                <li><a href="/video">Video Library</a></li>
                                <li><a href="/chart-size/">Sizing Guide</a></li>
                                <li><a href="/testimonials">Testimonials</a></li>
                                <li><a href="/brochures">Brochures</a></li>
                                {{#or (if  customer.customer_group_name '==' 'Practitioner - Certified') (if  customer.customer_group_name '==' 'Practitioner 1') (if  customer.customer_group_name '==' 'Education Partner') (if  customer.customer_group_name '==' 'Distribution Level 1') (if  customer.customer_group_name '==' 'Practitioner - Enrolled')  (if  customer.customer_group_name '==' 'Distribution Level 2') (if  customer.customer_group_name '==' 'Prac - AP Enrolled - No BB') (if  customer.customer_group_name '==' 'Prac - AP Certified - No BB') (if  customer.customer_group_name '==' 'Prac - BB Enrolled - No AP') (if  customer.customer_group_name '==' 'Prac - AP & BB Enrolled') (if  customer.customer_group_name '==' 'Prac - BB Certified - No AP') (if  customer.customer_group_name '==' 'Prac - AP & BB Certified') (if  customer.customer_group_name '==' 'Prac - Certified AP - Enrolled BB') (if  customer.customer_group_name '==' 'Prac - Certified BB - Enrolled AP')}}
                            <li><a href="/myo-munchee-events">Events</a></li>
                            {{else}}
                            <li><a href="/myo-events">Events</a></li>
                            {{/or}}
       <li><a href="https://store-ib0clqurx6.mybigcommerce.com/content/PDF/Myo%20Munchee%20Parent%20Checklist.pdf" target="_blank">Parent Checklist</a></li>
                                <li><a href="/blog/why-we-must-chew/">Why we must Chew!</a></li>
                                <li><a href="/blog/what-does-ideal-function-and-development-look-like/">What does ideal function and development look like</a></li>
                                <li><a href="/blog/research-papers/">Research papers</a></li>
                                <li><a href="/myo-munchee-special-needs/">Special needs</a></li>
                                <li><a href="/blog/baby-boomers-and-beyond/">Baby Boomers and beyond</a></li>
                                <li><a href="/blog/tongue-tie/">Tongue tie</a></li>
                                <li><a href="/blog/dummies-pacifiers/">Dummies/ pacifiers</a></li>
                                <li><a href="/blog/thumb-sucking/">Thumb sucking</a></li>
                                <li><a href="/faqs/">FAQs</a></li>
                                <li><a href="https://www.youtube.com/channel/UC6NoLHxrnBvnvx7BcsOhgWw" target="_blank">YouTube</a></li>
                            </ul>
                            {{/if}}
                            {{{region name="page_builder_content"}}}
                          </div>
                    </div>
                    <div class="col--half">
                        {{region name="sidebar"}}
                       <!-- <div class="section-internal__form">
                            <h3>Get in contact</h3>
                            <p>Complete the form below and a helpful member of the team will be in contact to discuss your enquiry.</p>
                            <div class="form-hide-label">
                               <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                                <script>
                                  hbspt.forms.create({
                                    region: "na1",
                                    portalId: "8335345",
                                    formId: "ed21d161-ad75-4d1d-a3b1-02c562b46234"
                                  });
                                </script>
                                <p>By signing in you agree with the <a href="/terms-of-service">Terms and Conditions</a> and <a
                                        href="/privacy">Privacy Policy</a></p>
                            </div>
                        </div>-->
                    </div>
                 </div>
             </div>
        </section>

{{#skip}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>
{{/skip}}
{{/partial}}

{{> layout/base}}
