// COLORS

$color-brand: #3eb4e4;
$color-brand2: #ea1947;

$color-pelorous: #41c0c0;
$color-pigeon-post: #b6b8dd;
$color-slate-gray: #758591;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
$font-primary: 'Raleway', sans-serif;
$fw-r: 400; // regular
$fw-m: 500; // medium
$fw-sb: 600; // semi bold
$fw-b: 700; // bold

// GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;
