.contactus {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    @include breakpoint(tab-port) {
        padding: 3rem 3rem 0;
        .head-primary {
            font-size: 18px;
        }
    }
    &__left {
        width: 100%;
        @include breakpoint(tab-land-up) {
            width: 30%;
        }
        div { 
            margin-top: 3rem;
            p {
                margin-bottom: 5px;
                font-size: 2rem;
                line-height: 1.6;
                @include breakpoint(phone) {
                    font-size: 13px;
                }
            }
            a {
                color: #758591;
            }
        }
        iframe {
            margin-top: 5rem;
            width: 100%;
            height: 470px;
            @include breakpoint(phone) {
                margin-top: 15px;
            }
        }
    }

    &__right {
        width: 100%;
        @include breakpoint(tab-land-up) {
            padding-left: 16rem;
            width: 70%;
        }
        p {
            font-size: 1.9rem;
            line-height: 1.6;
            @include breakpoint(tab-land-up) {
                margin-top: 25px;
            }
            @include breakpoint(phone) {
                font-size: 13px;
            }
        }
        .form {
            margin-top: 4rem;
            &-row {
                margin: 0 -1rem;
                .form-field {
                    padding: 0 1rem;
                }
            }
            &-field {
                margin: 0 0 3rem;
            }
            &-label {
                font-size: 1.5rem;
                color: #758591;
                margin-bottom: 1rem;
                @include breakpoint(phone) {
                    font-size: 13px;
                }
            }
            &-input {
                background-color: #e9ebeb;
                height: 47px;
                font-size: 1.5rem;
                padding: 6px 15px;

                @include breakpoint(phone) {
                    height: 40px;
                }

                &#contact_question {
                    height: 300px;
                    resize: none;
                }
            }
            &-actions {
                @include breakpoint(desktop-up) {
                    text-align: left;
                }
                .button {
                    border-radius: 0;
                    padding: 1.6rem 2.1rem;
                    margin-left: 0;
                    width: auto;
                    font-size: 15px;
                    font-weight: $fw-sb;
                    font-family: $font-primary;
                    @include breakpoint(phone) {
                        margin: 0;
                        width: 200px;
                    }
                    &:hover {
                        background-color: $color-brand2;
                    }
                }
            }
        }
    }
}
