$italic: italic;
.italic{
    font-style: $italic;
}
.practitioner{
    .btn{
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 1px;

    }
    .section-intro .btn--brand2 {
        min-width: 50%;
    }
    .section-intro .btn {
        font-weight: bold;
        width: 297px;
        height: 70px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        padding: 1.3rem;
    }
    #login-btn {
        padding: 2.2rem;
    }
    #download-btn{
        margin: 0 auto;
        margin-top: 1rem;
    }
    .section-movement, .section-easyfun:after {
        background-color: transparent;
    }
    .section-intro .testimonial p {
            line-height: 32px;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 600;
    }
    .tinyimg .card2{
        border: 0;
    }
    .tinyimg .card2 .card-body{
        background-color: transparent !important;
    }
    .section-1{
        background-color: #eaf0f4;
        padding-bottom: 3rem;
    }
    .comment{
        font-weight: bold;
    }
    .testimonial{
        padding: 5rem 4rem;
    }
    .section-2 .btn-wrap a {
        margin: 0 auto;
    }
  
    .section-2 .btn-wrap {
        justify-content: center;
    }
     .section-2 .btn-wrap a {
        margin: 10px !important;
        width: 300px;
    }
    .section-intro__img img {
        height: 478px;
    }
    .section-2 p.text-center {
        margin: 0 auto;
        max-width: 805px;
    }
    .section-2 .range .card-header h3 {
        margin: 0 auto;
    }
    p.comment.italic.font-color {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    p small {
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 1px;
    }
    .img-description{
        color: #fff;
        height: 135px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.2px;
        padding: 3rem;  
    }
    .img-description p {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .imgleft{
        background: #3eb4e4;
        
    }
    .imgright{
        background: #41c0c0;
    }
    .card2.productlist > .card-header > div {
        margin: 0 auto;
        font-weight: 700 !important;
    }

    .range1 .card2 .card-header {
        justify-content: center;
    }
    .card-body.body-1 {
        background: #f3f2f5;
    }
    .card-body.body-2 {
        background: #e3f2ee;
    }
    .card-body.body-3 {
        background: #e2f0f5;
    }
    .card-body.body-4 {
        background: #e3e4e2;
    }

    .tinyimg .card2 .card-body {
        padding: 0;
    }
    .section-join .row.four-videos {
        margin-top: 0;
    }
    .section-join .row {
        justify-content: center;
    }
    .img-tab{
        display: block;
    }
    .img-tab-mobile{
        display: none;
    }
    @media only screen and (min-width: 75em){
        .section-intro {
            padding-bottom: 3rem;
        }
        
    }
    @media(max-width: 56.25em){
        .img-tab{
            display: none;
        }
        .img-tab-mobile{
            display: block;
        }
        .section-intro__img img {
            height: auto !important;
            margin-bottom: 0; 
            margin-top: 0;
        }
        .testimonial {
            padding: 0;
        }
        .img-description{
            height: auto; 
        }
        .section-intro .testimonial p, p.comment.italic.font-color {
            line-height: 25px;
            font-size: 15px;
            letter-spacing: 0.65px;
        }
        p small {
            line-height: 25px;
            font-size: 13px;
            letter-spacing: 0.65px;
        }
         .btn-wrap {
            flex-wrap: wrap;
        }
        .range .btn-wrap a {
            height: 57px;
            line-height: 4rem;
        }
        .section-intro .btn {
            margin: 0 auto;
            padding-top: 2.1rem !important;
            height: 57px !important;
            font-size: 15px !important;
            line-height: 18px !important;
            letter-spacing: 0.75px !important;
        }
        
        .section-intro .btn.btn--brand2 {
            padding-top: 2rem !important;
            margin-bottom: 1.5rem;
            
        }
        .section-join .head-primary img {
            width: 178px;
        }
    }



}

.section-movementHome {
    .section-movementHome {
        &-title {
            margin: 0px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 4px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            word-spacing: 11px;
            @media (max-width: 600px){
                font-size: 25px;
                line-height: 40px;
            }
            img {
                max-width: 250px;
                width: 100%;
                margin-top: -7.3px;
            }
        }
    }
}


.acct-login {
    .practitioner {
        .section-intro {
            .btn-wrap, p.open-act-txt {
                display: none;
            }
        }
        .btn-wrap {
            display: none;
        }
    }
}

[data-layout-name="bebe-mouth-piece"] {
    max-width: 740px;
    margin: 0 auto;
}
[data-layout-name="bebe-subhub-form"] {
    .page-content.page-content--centered {
        max-width: 882px;
    }
}
