.privacy-policy{
    max-width: 1135px;
    font-size: 15px;
    color: #758591;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 0.75px;
    h1{  
        color: #758591;   
        font-size: 20px;    
        line-height: 24px; 
        letter-spacing: 1px;
    }    
}

.disclaimer{
    max-width: 1135px;
    font-size: 15px;
    color: #758591;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 0.75px;
    h1{  
        text-align: center;
        color: #758591;   
        font-size: 20px;    
        line-height: 24px; 
        letter-spacing: 1px;
    } 
}
