<section class="section section-easyfun tinyimg">
    <div class="container">
        {{{region name="easyfun-head"}}}
        {{#skip}}
        <!-- <h1 class="head-primary text-center"></h1> -->
        {{/skip}}
        <div class="row">
            <div class="col-1-of-4">
                <div class="card2">                    
                        <div class="card-body">
                            <a href="#parent-modal-1" data-reveal-id="parent-modal-1">
                                {{region name="parent-tiny1"}} 
                                {{#skip}}
                                <!-- 
                                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/thumbnail1.png">
                                -->
                                {{/skip}}
                                
                            </a>
                        </div>
                </div>
                {{{region name="parent-modal-1"}}}
                {{#skip}}
                <!-- 
                <div id="parent-modal-1" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-4">
                <div class="card2">                    
                        <div class="card-body">
                            <a href="#parent-modal-2" data-reveal-id="parent-modal-2">
                                {{region name="parent-tiny2"}}
                                {{#skip}}
                                <!-- 
                                <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/thumbnail1.png">
                                -->
                                {{/skip}}
                            </a>
                        </div>
                </div>
                {{{region name="parent-modal-2"}}}
                {{#skip}}
                <!-- 
                <div id="parent-modal-2" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-4">
                <div class="card2">                    
                        <div class="card-body">
                            <a href="#parent-modal-3" data-reveal-id="parent-modal-3">
                                {{region name="parent-tiny3"}}
                                {{#skip}}
                                <!-- 
                                <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/thumbnail1.png">
                                -->
                                {{/skip}}
                            </a>
                        </div>
                </div>
                {{{region name="parent-modal-3"}}}
                {{#skip}}
                <!-- 
                <div id="parent-modal-3" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-4">
                <div class="card2">                    
                        <div class="card-body">
                            <a href="#parent-modal-4" data-reveal-id="parent-modal-4">
                                {{region name="parent-tiny4"}}
                                {{#skip}}
                                <!-- 
                                <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/thumbnail1.png">
                                -->
                                {{/skip}}
                            </a>
                        </div>
                </div>
                {{{region name="easyfun-modal4"}}}
                {{#skip}}
                <!-- 
                <div id="parent-modal-4" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                -->
                {{/skip}}
            </div>
        </div>
    </div>
</section>
