<section class="section section-intro">
    <div class="container">
        <div class="row">
            <div class="col-1-of-2 column-1">
                {{{region name="parents-intro-1"}}}
                 {{#skip}}
                 <!--
                    <h1 class="head-primary">Ready, steady, chew</h1>
                    <p>Just like any part of the body, the jaw and facial muscles need the right kind of 
                        exercise to stay healthy. That’s why the Munchee works!</p>   
                    <p>
                        With just 10 mins of daily chewing exercise, the Munchee helps children train the 
                        reflexes and muscles of chewing, lip closure and swallowing.
                    </p>
                    <p> 
                        <div class="btn-wrap">
                            <a href="#" class="btn btn--md btn--brand2">Find a practitioner</a>
                            <a href="/get-help" class="btn btn--md btn--brand">Get Help</a>
                        </div> 
                    </p>
                    -->
                    {{/skip}}
            </div>
            <div class="col-1-of-2">
                {{{region name="parents-intro-2"}}}
                {{#skip}}
                <!--
                <figure class="section-intro__img">
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/parents-heading.png">
                </figure>
                -->
                {{/skip}}
            </div>
        </div>
    </div>
</section>
