<section class="section section-join range section-2" style="background-color:#fff;">
    <div class="container">
        {{{region name="parents-range-head"}}}
        {{#skip}}
        <!--
        <h1 class="head-primary head-primary--withLogo text-center text-uppercase">THE <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/logo.png" alt=""> RANGE</h1>
        <p class="text-center">
            The more Munchees the merrier. We have Munchees to suit the whole family from 18 months
            through to teens and even Mum and Dad!
        </p>
        <br>
        <p class="text-center"> 
            <div class="btn-wrap">
                <div class="mid-button">
                <a href="#" class="btn btn--sm btn--brand2">
                    Buy Now
                </a>
                </div>
            </div> 
        </p>
        <p>&nbsp;</p>
        -->
        {{/skip}}
    </div>
    <div class="container text-center">
        <div class="col-1-of-4 bottom-image">
            <div class="card2">
                <figure class="card-figure" style="background:url(https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/mini-apple-43692.1572897346.1280.1280-370x370.jpg) no-repeat center"></figure>
                <div class="card-body" style="background-color: #41C0C0; color:#fff !important;">
                        <a href="/munchee-mini/">
                            <p class="head-mid text-center" style="color:#fff;">
                            Mini Munchee
                            </p>
                        </a>
                        <p>&nbsp;</p>
                        <p>Replace the pacifier and get toddlers and young children using their jaw and face musculature.</p> 
                </div>
            </div>
        </div>
        <div class="col-1-of-4 bottom-image">
            <div class="card2">
                <figure class="card-figure" style="background:url(https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/chew-apple-39353.1572897285.1280.1280-370x370.jpg) no-repeat center"></figure>
                <div class="card-body" style="background-color: #3eb4e4; color:#fff !important;">
                        <a href="/myo-munchee-bebe-blue/">
                            <p class="head-mid text-center" style="color:#fff;">
                                Myo Munchee
                            </p>
                        </a>
                        <p>&nbsp;</p>
                        <p>The original since 1967. A Munchee in three sizes to suit children through to adults.</p> 
                </div>
            </div>
        </div>
        
    </div>

</section>
