{{#partial "page"}}
<section class="section-login login--fogot section--bg">
    <div class="account container">
         <div class="section-login__head">
        <h2>{{lang 'reset_password.heading' }}</h2>
        <p>{{lang 'reset_password.intro' }}</p>
        </div>
        <div class="section-login__forms">
        {{#if forms.forgot_password.error}}
            {{> components/common/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
           <!-- <label class="form-label" for="email">{{lang 'common.email_address'}}</label>-->
            <div>
                <input name="email" id="email" type="email" placeholder="Email address" formnovalidate>
                <input type="submit" class="btn btn--primary" value="{{lang 'reset_password.heading' }}" style="border: 0;">
            </div>
        </form>
        </div>
    </div>
    </section>
{{/partial}}
{{> layout/base}}
