<section class="section section-join range1">
    <div class="container">
        {{{region name="join-head"}}}
        {{#skip}}
        <!--
        <h1 class="head-primary head-primary--withLogo text-center text-uppercase">THE <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/logo.png" alt=""> RANGE</h1>
        <p class="text-center">Practitioners have access to the full suite of Munchee products, designed for age and practice specific impacts.</p>
        <p> 
            <div class="btn-wrap">
                <a href="#" class="btn btn--sm btn--brand2">Create a Practitioner Account</a>
            </div> 
        </p>
        -->
        {{/skip}}
    </div>

    <div class="container">
        {{{region name="easyfun-head"}}}
        {{#skip}}
        <!-- <h1 class="head-primary text-center">Easy and fun to use. Especially for kids. <br>
            Explore the impacts...</h1> -->
        {{/skip}}
        
        <div class="row">
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="easyfun-img1"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                    <a href="/bebe/">
                    <div class="card-header card-header--violet">
                        
                        {{{region name="easyfun-head1"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Teeth and <br> gums</h3>
                        -->
                        {{/skip}}
                    </div>
                    </a>
                    <div class="card-body body-1">
                        {{{region name="easyfun-text1"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p> 
                        -->
                        {{/skip}}
                    </div>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="easyfun-img2"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                     <a href="/munchee-mini/">
                    <div class="card-header card-header--green">
                      
                        {{{region name="easyfun-head2"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Jaw health and <br>
                            development</h3>
                        -->
                        {{/skip}}  
                    </div>
                     </a>
                    <div class="card-body body-2">
                        {{{region name="easyfun-text2"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p>
                        -->
                        {{/skip}}
                    </div>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="easyfun-img3"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                    <a href="/myo-munchee/">
                    <div class="card-header card-header--blue">
                        
                        {{{region name="easyfun-head3"}}}
                        {{#skip}} 
                        <!--
                        <h3>BEBE</h3>
                        -->
                        {{/skip}}
                    </div>
                    </a>
                    <div class="card-body body-3">
                        {{{region name="easyfun-text3"}}}
                        {{#skip}}
                        <!-- 
                        <p>Improves chewing and swallowing patterns triggering natural chewing motions and increasing lip, tongue and facial strength</p>
                        -->
                        {{/skip}}
                    </div>
                </div> 
            </div>
            
        </div>

        <section id="mypractice"></section>
        <!-- four videos-->
        <div class="row">
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="practitioner-video1"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/dental-practitioners.png">
                    <div class="img-description imgleft"><strong>Dental Practitioners</strong>
                        <p>Dental practitioners use Munchee for many reasons, specifically it’s big impacts in early intervention.</p>
                    </div>
                    -->
                    {{/skip}}
                </div>
            </div>
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="practitioner-video2"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/speech-pathologists.png">
                    <div class="img-description imgright"><strong>Speech Pathologists</strong>
                        <p>Many Speech and Language Pathologists are using Munchee, to help improve jaw strength.</p>
                    </div>
                    -->
                    {{/skip}}
                </div>
            </div>
        </div>
        <div class="row four-videos">
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="practitioner-video3"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/manual-therapists.png">
                    <div class="img-description imgright"><strong>Manual Therapists</strong>
                        <p>Munchee opens the door for great outcomes and a whole new world of professional collaboration.</p>
                    </div>
                    -->
                    {{/skip}}
                </div>
            </div>
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="practitioner-video4"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/speech-pathologists.png">
                    <div class="img-description imgleft"><strong>Myofunctional Therapists </strong>   
                    </div>
                    -->
                    {{/skip}}
                </div>
            </div>
        </div> 

        
    </div>

</section>
