<section class="section section-join range" id="freeresource">
    <div class="container">
        {{{region name="resource-head"}}}
        {{#skip}}
        <!--
        <h1 class="head-primary head-primary--withLogo text-center text-uppercase">FREE RESOURCES</h1>
        <p class="text-center">Get started learning about Munchee</p>
        
            <div class="btn-wrap">
                <a href="#" class="btn btn--sm btn--brand2">Create a practitioner account</a>
            </div> 
        -->
        {{/skip}}
    </div>
    <div class="section section-easyfun container">
        {{{region name="easyfun-head"}}}
        {{#skip}}
        <!-- <h1 class="head-primary text-center"></h1> -->
        {{/skip}}
        <div class="row">
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="/content/Pacifier%20Literature%20Review.pdf" target="_blank">
                 
                    <div class="card-header card-header--blue">
                        {{{region name="resource-head1"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Jaw health and <br>
                            development</h3>
                        -->
                        {{/skip}}  
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="resource-text1"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p>
                        -->
                        {{/skip}}
                    </div>
                </div>
                
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="/content/Practice%20Poster%20.pdf" target="_blank">
                 
                    <div class="card-header card-header--green">
                        {{{region name="resource-head2"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Jaw health and <br>
                            development</h3>
                        -->
                        {{/skip}}  
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="resource-text2"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p>
                        -->
                        {{/skip}}
                    </div>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="/content/MANUAL%20SAMPLE.pdf" target="_blank">
                    <div class="card-header card-header--violet">
                       
                        {{{region name="resource-head3"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Lip and tongue <br> strength</h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                     </a>
                    <div class="card-body">
                        {{{region name="resource-text3"}}}
                        {{#skip}}
                        <!-- 
                        <p>Improves chewing and swallowing patterns triggering natural chewing motions and increasing lip, tongue and facial strength</p>
                        -->
                        {{/skip}}
                    </div>
                </div> 
                
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="resource-img4"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                    <a href="/content/DR%20KEVIN%20BOURKE%20ARTICLES.pdf" target="_blank">
                    <div class="card-header card-header--gray">
                        
                        {{{region name="resource-head4"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Promotes nasal <br> breathing</h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="resource-text4"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p>
                        -->
                        {{/skip}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="resource-video1"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/resource1.png">
                    -->
                    {{/skip}}
                </div>
            </div>
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="resource-video2"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/resource2.png">
                    -->
                    {{/skip}}
                </div>
            </div>
        </div>
        <div class="row four-videos">
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="resource-video3"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/resource3.png">
                    -->
                    {{/skip}}
                </div>
            </div>
            <div class="col-1-of-2">
                <div style="position:relative;">
                    {{{region name="resource-video4"}}}
                    {{#skip}}
                    <!--
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/resource4.png">
                    -->
                    {{/skip}}
                </div>
            </div>
        </div> 
    </div>


    <div class="container">
        {{{region name="join-head1"}}}
        {{#skip}}
        <!--
        <h1 class="head-primary head-primary--withLogo text-center text-uppercase">LEARN WITH <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/logo.png" alt=""> U</h1>
        <p class="text-center">Munchee offers practitioners our “Munchee U” online education platform to provide you basic and advanced training necessary to register as a Munchee provider.</p>
        <p> 
            <div class="btn-wrap">
                <a href="#" class="btn btn--sm btn--brand">Enroll at Munchee U</a>
                <a href="#" class="btn btn--sm btn--brand2">Create a practitioner account</a>
            </div> 
        </p>
    -->
    {{/skip}}
    </div>


    <div class="container">
        <div class="row">
            <div class="col-1-of-2">
                {{{region name="res-intro-1"}}}
                    {{#skip}}
                <!--
                <figure class="section-intro__img">
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/owner.png">
                </figure>
                -->
                {{/skip}}
                
            </div>
            <div class="col-1-of-2 testimonial">
                {{{region name="res-intro-2"}}}
                {{#skip}}
                    <!--
                    <p class="comment italic font-color">"I felt very inspired by how we can do our part no matter what profession we are, to help many patients on their path to airway health with just a small silicone chewable appliance."</p>
                    <p><small><span class="comment">Kimmi Nishimoto RDH</span></small></p>
                    <p>&nbsp;</p>
                    <p class="comment italic font-color">
                        "The coursework was so well rounded and brought important perspectives from different professions that will continue to encourage me to provide more comprehensive help for my patients."
                    </p>
                    <p><small><span class="comment">Erin Ulman RDH</span></small></p>
                -->
                {{/skip}}
            </div>
            
        </div>        
    </div>
    <div class="container">
        {{{region name="join-head2"}}}
        {{#skip}}
        <!--
        <h1 class="head-primary head-primary--withLogo text-center text-uppercase">SAMPLE <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/logo.png" alt=""> U</h1>
        <p class="text-center">Watch some short clips from the course!</p>
        -->
        {{/skip}}
       
    </div>
</section>
