<section class="section section-intro">
    <div class="container">
        <div class="row">
            <div class="col-1-of-2">
                {{{region name="testimonial-1"}}}
                {{#skip}}
                <!--    
                <figure class="section-intro__img">
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/practitioner-testimonial.png">
                </figure>
            -->
            {{/skip}}
            </div>
            <div class="col-1-of-2 testimonial">
                {{{region name="testimonial-2"}}}
                {{#skip}}
                 <!--
                    <p class="comment italic">"The Munchee is the perfect tool for helping to normalise chewing: a key clinical goal for any health practitioner working with upper airway."</p>
                    <p><small><span class="comment">Sharon Moore,</span> Speech and language pathologist and author of <span class="italic">Sleep Wrecked Kids</span></small></p>
                    <br>
                    <p class="comment italic">
                        "Parents and practitioners need to know there is something they can do when the pacifier is removed to improve swallowing and nasal breathing. The Munchee really helps."
                    </p>
                    <p><small><span class="comment">Dr Derek Mahony,</span> Orthodontist</small></p>
                -->
                {{/skip}}
               
            </div>
            
        </div>
    </div>
</section>
