<section class="section section-intro">
    <div class="container">
        <div class="row">
            <div class="col-1-of-2">
                {{{region name="intro-1"}}}
                {{#skip}}
               <!--
                    <h1 class="head-primary">Develop your Practice with Munchee</h1>
                    <p>Munchee is made to compliment, not replace, your existing treatments. 
                        As a versatile adjunct therapy it integrates seamlessly into your 
                        practitioner toolkit. We support our practitioners through 
                        face to face and online events, ongoing education and practitioner listings.</p>
                    <p>
                        Open an account today to start developing a role for Munchee in your practice
                    </p>
                    <p> 
                        <div class="btn-wrap">
                            <a href="#" class="btn btn--md btn--brand2">Create a Practitioner
                                Account</a>                            
                            <a href="/login.php" class="btn btn--md btn--brand" id="login-btn">Login to My Account</a>
                        </div> 
                        <div class="btn-wrap">
                            <a href="#" class="btn btn--md btn--brand" id="download-btn">Download Munchee
                                Discovery pack</a>
                        </div> 
                    </p>
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-2">
                {{{region name="intro-2"}}}
               {{#skip}}
               <!--
                <figure class="section-intro__img">
                    <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/practitioner-heading.png">
                </figure>               
               -->
               {{/skip}}
            </div>
        </div>
    </div>
</section>
