<section class="section section-easyfun tinyimg">
    <div class="container">
        <div class="row">
            <div class="col-1-of-4">
                <div class="card2">
                        <div class="card-body">
                            <a href="#easyfun-card1" data-reveal-id="easyfun-card1">
                                {{region name="tiny1"}} 
                                {{#skip}}
                                <!--
                                <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/tiny2.png">
                                -->
                                {{/skip}}
                            </a>
                        </div>
                </div>
                
                <div id="easyfun-card1" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                
               
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    
                        <div class="card-body">
                            <a href="#easyfun-card1" data-reveal-id="easyfun-card1">
                                {{region name="tiny2"}} 
                                {{#skip}}
                                <!--
                                <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/tiny1.png">
                                -->
                                {{/skip}}
                            </a>
                        </div>
                </div>
                
                
                <div id="easyfun-card1" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                
               
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    
                        <div class="card-body">
                            <a href="#easyfun-card1" data-reveal-id="easyfun-card1">
                                {{region name="tiny3"}} 
                                {{#skip}}
                                <!--
                                <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/thumbnail3.png">
                                -->
                                {{/skip}}
                            </a>
                        </div>
                </div>
                
                
                <div id="easyfun-card1" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                
               
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    
                        <div class="card-body">
                            <a href="#easyfun-card1" data-reveal-id="easyfun-card1">
                                {{region name="tiny4"}} 
                                {{#skip}}
                                <!--
                                <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/tiny5.png">
                                -->
                                {{/skip}}
                            </a>
                        </div>
                </div>
                             
                
                <div id="easyfun-card1" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                
               
            </div>
        </div>
    </div>
</section>
