<br>
<section class="section section-join range" id="team">
    <div class="container">
        {{{region name="join-head"}}}
        <h1 class="head-primary text-center text-uppercase">The Munchee Team</p></h1>
            <p class="text-center">Mary has a dedicated team of practitioners and support staff who help her realise the goals of the Munchee Movement.</p>
    </div>

    <div class="container text-center">
        <div class="col-1-of-4 bottom-image">
            <div class="card2">
                {{{region name="easyfun-img1"}}}
                
                <figure class="card-figure" style="background:url(https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/ada093d6-242b-4dcf-b15e-519b29b1a3da.jpg) no-repeat center; background-position: 0 -41px;"></figure>
                
                <div class="card-body">
                    {{{region name="easyfun-text1"}}}
                    
                        <p class="head-mid text-center">
                            Donna Hampton
                        </p>
                        <p>A strong background in project management means Donna is capable of juggling many Munchees in any given moment!<br><br> She is an account manager, administration manager and general voice of reason in the Munchee Team. Based in the Hunter Valley she works closely with both the Munchee Team, our international partners and fostering relationships with practitioners and their patients from all over the world.</p> 
                    
                </div>
            </div>
        </div>
        <div class="col-1-of-4 bottom-image">
            <div class="card2">
                {{{region name="easyfun-img1"}}}
                
                <figure class="card-figure" style="background:url(https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/jerome-profile-pic.jpg) no-repeat center; background-position: 0 -41px;"></figure>
                
                <div class="card-body">
                    {{{region name="easyfun-text1"}}}
                    
                        <p class="head-mid text-center">
                            Jerome Coleman
                        </p><p>Based in Newcastle, Jerome has a proven track record in both business and financial management and joined Munchee as CFO and consultant in 2019. His guidance and strategic planning ability ensures Munchee will continue to grow into the future.</p> 
                    
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center">
        <div class="col-1-of-4 bottom-image">
            <div class="card2">
                {{{region name="easyfun-img1"}}}
                
                <figure class="card-figure" style="background:url(https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/marcia-profile-pic.jpeg) no-repeat center; background-position: 0 -41px;"></figure>
                
                <div class="card-body">
                    {{{region name="easyfun-text1"}}}
                    
                        <p class="head-mid text-center">
                            Marcia Huber
                        </p>
                        <p>Working from our head office in Newcastle, Marcia is Munchee’s longest serving staff member and has been with Mary since she relaunched Munchee in 2016. Marcia’s gentle, patient nature and attention to detail has been a key component to Munchee’s growth.<br><br> Marcia handles multiple administration tasks including shipping, data entry and solving problems and handling enquiries for our customers. </p> 
                    
                </div>
            </div>
        </div>
        <div class="col-1-of-4 bottom-image">
            <div class="card2">
                {{{region name="easyfun-img1"}}}
                
                <figure class="card-figure" style="background:url(https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/img-0280.jpg) no-repeat center; background-position: 0 -68px;"></figure>
                
                <div class="card-body">
                    {{{region name="easyfun-text1"}}}
                    
                        <p class="head-mid text-center">
                            Jacqui Reynolds
                        </p><p>Jacqui is the second half of our dynamic head office team and provides executive support to Mary, updates for Munchee U and shipping and customer service support. She has road tested Munchee extensively on both her children and has in-depth knowledge “from the field” of what works (and what doesn’t) integrating Munchee into a young family.</p> 
                    
                </div>
            </div>
        </div>
        <div class="col-1-of-4 bottom-image">
            <div class="card2">
                {{{region name="easyfun-img1"}}}
                
                <figure class="card-figure" style="background:url(https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/millie-profile-pic.jpg) no-repeat center; background-position: 0 -68px;"></figure>
                
                <div class="card-body">
                    {{{region name="easyfun-text1"}}}
                    
                        <p class="head-mid text-center">
                            Millie Bell
                        </p><p>Millie is based in Newcastle and ensures hygiene and safety standards are met handling and packaging Munchees. As Mary’s second child, she knows what it means to be a “lifetime chewer” having grown up under the watchful eye of Mary and Dr Kevin.</p> 
                    
                </div>
            </div>
        </div>

        
        
    </div>
</section>
