<section class="section section-join">
    <div class="container">
        {{{region name="join-head"}}}
        {{#skip}}
        <!-- 
        <h1 class="head-primary head-primary--withLogo text-center text-uppercase">READY TO JOIN THE <img src="https://cdn11.bigcommerce.com/s-ib0clqurx6/product_images/uploaded_images/logo.png" alt=""> Movement</h1>
        <p class="text-center">Connect with us or download free resources</p> 
        -->
        {{/skip}}
        <div class="row">
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="#easyfun-join-1" data-reveal-id="easyfun-join-1">
                        
                    <div class="card-header card-header--blue">
                        
                        {{{region name="join-head1"}}}
                        {{#skip}}
                        <!-- 
                        <h3>How do I use a <br> Munchee</h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="join-text1"}}}
                        {{#skip}}
                        <!-- 
                        <p>Watch this video to find out the most important movements for chewing a Munchee</p>
                        -->
                        {{/skip}}
                    </div> 
                </div>
                <div id="easyfun-join-1" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/454250735?title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="/content/GUIDELINES%20FOR%20SAFER%20USE%20OF%20PACIFIER%20FEB%202020.pdf" target="_blank">
                    <div class="card-header card-header--green">
                        {{{region name="join-head2"}}}
                        {{#skip}}
                        <!-- 
                        <h3>What’s with <br>
                            pacifiers? </h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="join-text2"}}}
                        {{#skip}}
                        <!-- 
                        <p>A lot is said about pacifiers! At Munchee, we took an in-depth look at the research and collated these guidelines</p>
                        -->
                        {{/skip}}
                    </div> 
                </div>
            </div>
            
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="/contact-us/" target="_BLANK">
                    <div class="card-header card-header--gray">
                        {{{region name="join-head4"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Contact <br> Munchee</h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="join-text4"}}}
                        {{#skip}}
                        <!-- 
                        <p>Got a question for us to chew over or need product and ordering support? Reach out to Munchee.</p>
                        -->
                        {{/skip}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
