<section class="section section-intro">
    <div class="container">
        <div class="row">
            <div class="col-1-of-2">
                {{{region name="intro-1"}}}
                {{#skip}}
                <!-- 
                    <h1 class="head-primary">A unique device that <br>
                    initiates natural chewing!</h1>
                    <p>In the last hundred years, the western industrialised lifestyle—with its soft foods, reduced nutritional diversity, and rapidly decreasing range of exercise— has essentially removed natural cues for healthy oral development. Chewing, swallowing and movement has been outsourced...until now!</p>
                    <a href="#" class="btn btn--md btn--brand2">Order Munchee</a> 
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-2">
                {{{region name="intro-2"}}}
                {{#skip}}
                <!-- 
                <figure class="section-intro__img">
                    
                </figure>
                <div class="btn-wrap">
                    <a href="#" class="btn btn--md btn--brand">For Parents</a>
                    <a href="#" class="btn btn--md btn--brand">For Practitioners</a>
                </div> 
                -->
                {{/skip}}
            </div>
        </div>
    </div>
</section>
