<section class="section section-easyfun">
    <div class="container">
        {{{region name="easyfun-head"}}}
        {{#skip}}
        <!-- <h1 class="head-primary text-center">Easy and fun to use. Especially for kids. <br>
            Explore the impacts...</h1> -->
        {{/skip}}
        <div class="row">
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="easyfun-img1"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                    <a href="#easyfun-card1" data-reveal-id="easyfun-card1">
                    <div class="card-header card-header--blue">
                        
                        {{{region name="easyfun-head1"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Teeth and <br> gums</h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="easyfun-text1"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p> 
                        -->
                        {{/skip}}
                    </div>
                </div>
                {{{region name="easyfun-modal1"}}}
                {{#skip}}
                <!-- 
                <div id="easyfun-card1" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    <a href="#easyfun-card2" data-reveal-id="easyfun-card2"></a>
                    {{{region name="easyfun-img2"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                    <a href="#easyfun-card2" data-reveal-id="easyfun-card2">
                    <div class="card-header card-header--green">
                        
                        {{{region name="easyfun-head2"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Jaw health and <br>
                            development</h3>
                        -->
                        {{/skip}}  
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="easyfun-text2"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p>
                        -->
                        {{/skip}}
                    </div>
                </div>
                {{{region name="easyfun-modal2"}}}
                {{#skip}}
                <!-- 
                <div id="easyfun-card2" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div> 
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="easyfun-img3"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                    <a href="#easyfun-card3" data-reveal-id="easyfun-card3">
                    <div class="card-header card-header--violet">
                        
                        {{{region name="easyfun-head3"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Lip and tongue <br> strength</h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="easyfun-text3"}}}
                        {{#skip}}
                        <!-- 
                        <p>Improves chewing and swallowing patterns triggering natural chewing motions and increasing lip, tongue and facial strength</p>
                        -->
                        {{/skip}}
                    </div>
                </div> 
                {{{region name="easyfun-modal3"}}}
                {{#skip}}
                <!-- 
                <div id="easyfun-card3" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                -->
                {{/skip}}
            </div>
            <div class="col-1-of-4">
                <div class="card2">
                    {{{region name="easyfun-img4"}}}
                    {{#skip}}
                    <!-- 
                    <figure class="card-figure" style="background-image:url(https://via.placeholder.com/300)"></figure>
                    -->
                    {{/skip}}
                    <a href="#easyfun-card4" data-reveal-id="easyfun-card4">
                    <div class="card-header card-header--gray">
                        
                        {{{region name="easyfun-head4"}}}
                        {{#skip}}
                        <!-- 
                        <h3>Promotes nasal <br> breathing</h3>
                        -->
                        {{/skip}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="36" viewBox="0 0 21 36">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <g>
                                        <path d="M18.5 21.5c-.645 0-1.29-.252-1.782-.755L1.238 4.905c-.984-1.009-.984-2.642 0-3.65.985-1.007 2.581-1.007 3.566 0L18.5 15.272 32.196 1.256c.985-1.007 2.58-1.007 3.565 0 .985 1.007.985 2.64 0 3.649l-15.479 15.84c-.492.503-1.137.755-1.782.755z" transform="translate(-354 -1909) rotate(-90 1149.5 796)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        
                    </div>
                    </a>
                    <div class="card-body">
                        {{{region name="easyfun-text4"}}}
                        {{#skip}}
                        <!-- 
                        <p>Pronged design functions like a brush: cleaning, oxygenating and producing saliva</p>
                        -->
                        {{/skip}}
                    </div>
                </div>
                {{{region name="easyfun-modal4"}}}
                {{#skip}}
                <!-- 
                <div id="easyfun-card4" class="modal" data-reveal>
                    <a href="#" class="modal-close" aria-label="close" role="button">
                        <span aria-hidden="true">&#215;</span>
                    </a>
                    <div class="modal-content">
                        <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/453846384?autoplay=1&loop=1&title=0&byline=0&portrait=0&autopause=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="loadingOverlay"></div>
                </div>
                -->
                {{/skip}}
            </div>
        </div>
    </div>
</section>
