{{#if product.sku '==' 'SKU-125-Small'}}
<div>Myo Munchee Small for - 4 years plus.80% of Cranial and Facial growth occurs in the first 6 years of life...So let’s get Chewing!!!</div>
{{/if}}

{{#if product.sku '==' 'MINI'}}
<div>Mini Munchees are for the littlest people with teeth. We want to make sure the little teeth and jaw bones are strong, healthy and well aligned.</div>
{{/if}}

{{#if product.sku '==' 'BEBE'}}
<div>Munchee bebe is a wonderful tool to get the smallest humans chewing, nose- breathing and swallowing. Great for teething too.</div>
{{/if}}

{{#if product.sku '==' 'SKU-126-Small'}}
<div>Myo Munchee Small for - 4 years plus.80% of Cranial and Facial growth occurs in the first 6 years of life...So let’s get Chewing!!!</div>
{{/if}}

{{#if product.sku '==' 'SKU-127-Medium'}}
<div>
    Myo Munchee is a fitness program for the mouth – a workout machine for the jaw, teeth, gums, lips and facial muscles made of medical-grade silicone that is safe for all ages.
    <br><br>
    A gym for your mouth, used for 5 to 10 minutes per day via an intuitive and natural process: chewing.
    

</div>
{{/if}}

{{#if product.sku '==' 'SKU-128-Large'}}
<div>
    This appliance is the largest of the Munchee range of appliances.
    It is a great workout for the muscles of the lips, face and jaws.
    
</div>
{{/if}}

{{#if product.sku '==' 'UTRIM Medium'}}
<div>
    The U-Trim is a practitioner only appliance available in two sizes; Medium and Large. U-Trim is utilised as a therapeutic splint particularly for TMD and sleep patients. The appliance has applications in orthodontic treatment, particularly for dental practitioners using ALF appliances. 
    
</div>
{{/if}}
{{#if product.sku '==' 'UTRIM Large'}}
<div>
    The U-Trim is a practitioner only appliance available in two sizes; Medium and Large. U-Trim is utilised as a therapeutic splint particularly for TMD and sleep patients. The appliance has applications in orthodontic treatment, particularly for dental practitioners using ALF appliances. 
    
</div>
{{/if}}
{{#if product.title '==' 'Practitioner Sizing Kit'}}
<div>
    Our practitioner Sizing Kit gives you a range of Munchees to trial in your clinic. The Sizing Kit contains:
    <ul>
        <li style="list-style-type: disc; text-indent: 5rem;">Munchee Bebe</li>
        <li style="list-style-type: disc; text-indent: 5rem;">Munchee Mini</li>
        <li style="list-style-type: disc; text-indent: 5rem;">Munchee Original - small, medium and large</li>
    </ul>
    
</div>
{{/if}}

{{#if product.title '==' 'Practitioner Digital Manual'}}
<div>
    This printed and bound Munchee Manual provides a comprehensive insight into how to use the Munchee for a range of conditions. The manual serves as a starting point for practitioners wanting to know more about the clinical applications of the Munchee.    
</div>
{{/if}}

{{#if product.title '==' 'Practitioner Printed Manual + Digital Copy'}}
<div>
    The digital manual is our Munchee Manual as an e-book. For those who don’t want a printed copy but still want to have access to key information on how to use a Munchee. NB: the digital manual is included in our Munchee U online course. If you intend to take our online training there’s no need to buy the digital manual separately.    
</div>
{{/if}}

{{#if product.title '==' 'Munchee U online Protocols'}}
<div>
    Munchee U is our flagship online training course for practitioners. A completely online and self-paced program it includes over 15 hours of lectures and presentations, monthly live call tutorials, e-manual and resources and free Munchee with your next purchase!    
</div>
{{/if}}
